---
layout: default
---

<div class="container">

  {% bookshop page-heading title=page.title description=page.subtitle %}
  {% assign page_image = site.baseurl | append: page.image %}
  {% bookshop page-image image=page_image %}

  <div class="page animate">
    {{ content }}
  </div>

  {% if page.next.url %}
  <div class="project__navigation animate">
    <a class="project__prev" href="{{page.next.url}}">
      <div class="project__box">
        <span class="project__nav__info">Next Project</span>
        <h2 class="project__nav__title">{{page.next.title}}<i class="ion ion-md-arrow-round-forward arrow-right"></i></h2>
      </div>
    </a>
  </div>
  {% endif %}

</div>

{% bookshop contact-form
  form_title='Let\'s Work Together'
  form_success_page='https://formspree.io/f/mzzvaowa'
  form_description='Enjoyed what you saw? Whether you’re planning a new project or just curious to learn more — I’d love to hear from you. Fill out the form below and let’s talk.'
  form_submission_email='me@bolotkalil.com'
  form_button_text='Send'
%}