{% if site.data.social_links.social %}
<div class="social">
  <ul class="social__list list-reset">
    {% for social in site.data.social_links.social %}
    <li class="social__item">
      {% assign icon = social.icon | downcase %}
      <a class="social__link" href="{{social.link}}" target="_blank" rel="noopener" aria-label="{{ social.label | default: icon }} icon"><i class="ion {% if icon == 'md-paper' %}ion-md-paper{% else %}ion-logo-{{ icon }}{% endif %}"></i></a>
    </li>
    {% endfor %}
  </ul>
</div>
{% endif %}
